*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(13, 213, 163);
}
#cabeçalho{
    color: rgb(103, 149, 134);
}
.title{
    color: rgb(117, 168, 151);
}
table{
    margin: auto;
    color: white;
    background-color:  rgb(30, 115, 94);
}
.content{
    margin: 10px;
    border-radius: 5px;
}
button{
    margin: 6px;
    padding: 4px;
}
label{
    color: rgb(20, 233, 180);
    
}
#prin{
    
    display: contents;
    
}
#c{
    background-color: rgb(255, 255, 255);
    align-items: center;
    overflow: auto;
    border-radius: 10px;
    }


  




